
@{
    ViewBag.Title = "Delete";
}


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.EditorForModel()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
